.news-events-updates {
    height: auto;
    background-color: transparent;
    color: antiquewhite;
    margin-top: -100px;
    padding-bottom: 200px;
  }
  
  .news-container, .events-container, .updates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 250px;
    margin-right: 2%;
    z-index: 11;
  }
  
  .news-card, .event-card, .update-card {
    width: 100%; /* По умолчанию занимает всю ширину родителя */
    max-width: 430px; /* Ограничение по максимальной ширине */
    flex: 1 1 calc(33.333% - 2%); /* Карточки занимают треть доступного пространства */
    min-height: auto;
    max-height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 0;
  }

.news-image img, .event-image img, .update-image img {
  width: 100%;
  max-height: 270px;
  height: auto; /* Сохраняет пропорции изображения */
  object-fit: cover;
  display: block;
  cursor: pointer;
}

/* Контент карточек */
.news-content, .event-content, .update-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #0000004f;
  justify-content: space-between;
}
  
  .news-date, .event-date, .update-date {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #7d7d7d;
    line-height: 29px;
    margin: 0 0 10px 0;
  }
  
  .news-title, .event-title, .update-title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
    margin: 0 0 10px 0;
  }
  
  .news-buttons, .event-buttons, .update-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    margin-top: auto;
  }
  
  .news-button, .event-button, .update-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
  }
  
  .news-button.open, .event-button.open, .update-button.open , .socials-button.open {
    width: 80px;
    height: 40px;
    background-color: #5ef6ff;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Chakra Petch', sans-serif;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    box-sizing: border-box; 
  }
  
  .news-button.open:hover, .event-button.open:hover, .update-button.open:hover {
    background-color: transparent;
    color: #5ef6ff;
    border: 1px solid #5ef6ff;
  }
  
  .news-button.small, .event-button.small, .update-button.small , .socials-button.small {
    width: 40px;
    height: 40px;
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid #5ef6ff; /* Обводка 1px */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .news-button.small img , .event-button.small img , .update-button.small img {
    width: 20px; /* Устанавливаем размер иконки */
    height: 20px;
  }

  .socials-bg{
    background-image: url(/static/img/oursocialsbg.png); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
  }

  .socials-button.open{
    width: 150px;
    height: 40px;
    background-color: #FFCE00;
  }

  .socials-button.open:hover{
    background-color: transparent;
    color: #FFCE00;
    border: 1px solid #FFCE00;
  }

  .socials-button.small {
    border: 1px solid #FFCE00; /* Обводка 1px */
  }
  
  
  @media (max-width: 1000px) {

    .news-container, .events-container, .updates-container {
      margin-left: 100px;
      margin-top: 50px;
    }

}

@media (max-width: 750px) {

  .news-card, .event-card, .update-card {
    flex: 1 1 calc(50% - 2%); /* 50% ширины */
  }

  .news-container, .events-container, .updates-container {
    margin-left: 75px;
    margin-top: 50px;
  }

}

@media (max-width: 520px) {

  .news-events-updates {
    height: auto;
    background-color: transparent;
    color: antiquewhite;
    margin-top: -175px;
  }
  

  .news-card, .event-card, .update-card {
    flex: 1 1 calc(100% - 2%); /* 100% ширины */
  }
  .news-content, .event-content, .update-content {
    padding: 15px; /* Уменьшение отступов */
  }

  .news-container, .events-container, .updates-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }

  .news-date, .event-date, .update-date {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #7d7d7d;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
  
  .news-title, .event-title, .update-title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 0 10px 0;
  }

  .news-image img, .event-image img, .update-image img {
    max-height: 200px;
  }

  .news-button.open, .event-button.open, .update-button.open {
    width: 70px;
    height: 30px;
    background-color: #5ef6ff;
    font-size: 18px;
    font-weight: 600;
  }

  .news-button.small, .event-button.small, .update-button.small {
    width: 30px;
    height: 30px;
  }
  
  .news-button.small img , .event-button.small img , .update-button.small img {
    width: 15px; /* Устанавливаем размер иконки */
    height: 15px;
  }

}