:root {
    --font-family: 'Chakra Petch', sans-serif;
    --color-primary: #FFCE00;
    --color-secondary: #5EF6FF;
    --color-text: #7E7E7E;
    --color-bg: #111;
    --color-overlay: rgba(0, 0, 0, 0.5);
    --font-size-large: 88px;
    --font-size-title: 128px;
    --modal-bg-color: #0d0d0d;
    --modal-border-color: #2F2F2F;
    --progress-bar-height: 3px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: #fff;
    background: var(--color-bg) url('../img/herosection.png') no-repeat center/cover;
    height: 100vh;
    overflow-x: hidden;
}

::selection {
    background: transparent; 
    color: #FF4E47; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 45%);
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}

.centered-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-text .welcome {
    font-size: var(--font-size-large);
    font-weight: 600;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #8B8B8B;
    line-height: 106px;
    letter-spacing: -3px;
    transition: all 0.2s;
}

.centered-text .title {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: #070306;
    text-shadow: 0px 0px 16px rgba(255, 206, 0, 1);
    -webkit-text-stroke: 2px var(--color-primary);
    line-height: 128px;
    margin: 0;
    position: relative;
    transition: all 0.2s;
}

.title::before {
    content: '«';
    margin-right: 15px; 
}

.title::after {
    content: '»';
    margin-left: 15px;
}

.centered-content:hover .welcome {
    color: #fff;
    -webkit-text-stroke-color: white;
}

.centered-content:hover .title {
    color: var(--color-primary);
}

/* Контейнер для кнопки */
.cta-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 100%;
    margin-top: 75px; 
    width: 100%;
}

.get-the-quest {
    width: 380px;
    height: 68px;
    background: url(/static/img/button-default.svg) no-repeat;
    object-fit: contain;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.get-the-quest:hover {
    width: 380px;
    height: 68px;
    background: url(/static/img/button-hover.svg) center no-repeat;
    object-fit: contain;
}

/* privacy-policy */

.privacy-policy {
    width: 100%;
    display: flex; /* Делаем контейнер горизонтально флекс-блоком */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали */
    bottom: 45px;
    position: fixed;
    font-size: 16px;
    color: var(--color-text);
    font-weight: 400;
    padding: 0 250px;
    box-sizing: border-box; /* Учитываем padding в ширине контейнера */
}

.fixed-text-block {
    display: flex; /* Если есть вложенные элементы, оставляем flex */
    flex-direction: column; /* Размещаем элементы вертикально */
    gap: 15px;
    text-align: left;
    color: #7E7E7E;   
}

.fixed-text-block .first-text {
    color: var(--color-secondary);
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
}

.fixed-text-block .second-text {
    margin: 0;
    padding: 0;
}

.second-text a:hover {
    color: var(--color-secondary);
}

.privacy-block {
    display: flex; /* Делаем ссылки внутри горизонтальными */
    gap: 30px; /* Расстояние между ссылками */
}

.second-text a{
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

.privacy-block a{
    color: var(--color-text);
}

.privacy-block a:hover {
    color: var(--color-primary);
}

/* GOT THE QUEST */

/* Базовые стили для модального окна */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    z-index: 9998;
    padding: 20px; /* Отступы, чтобы модальное окно не прижималось к краям экрана */
    box-sizing: border-box;
}

#overlaytwo {
    z-index: 9998; /* Больше, чтобы быть выше */
}

#overlaytwo #content-block {
    padding: 50px;
    position: relative; /* Используем relative для управления внутренними элементами */
    width: 600px; /* Базовая ширина для больших экранов */
    height: auto; /* Высота адаптируется к содержимому */
    max-width: 90%; /* Чтобы блок не выходил за пределы экрана */
    max-height: 90%; /* Чтобы блок не занимал больше 90% экрана по высоте */
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    border: 1px solid #2F2F2F;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Включаем вертикальную прокрутку, если содержимого слишком много */
    z-index: 9999;
}

#overlaytwo #close-block-two {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px; 
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 3;
}

#close-block-two img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

#overlaytwo #block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overlaytwo #main-text {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

#overlaytwo #main-text p {
    font-size: 42px;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--color-primary);
    color: #FFCE00;
}

#overlaytwo #description p {
    font-size: 16px;
    color: #747474;
    margin: 10px 0;
    text-align: center;
}

#overlaytwo #description b {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
}

#overlaytwo #description a {
    font-size: 16px;
    color: #747474;
}

#overlaytwo #description a:hover {
    color: var(--color-primary);
}

#overlaytwo #description strong {
    color: var(--color-primary);
}

#overlaytwo #chill-man {
    margin: 20px 0;
    max-width: 100%;
    height: auto; /* Сохраняем пропорции изображения */
}

#overlaytwo #chill-man img {
    max-width: 100%; /* Изображение не выходит за границы контейнера */
    height: auto; /* Сохраняем пропорции изображения */
    display: block; /* Убираем лишние отступы */
    margin: 0 auto; /* Центрируем изображение */
}


#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Устанавливаем ширину загрузочной полосы */
}

.progress-bar {
    width: 100%; /* Адаптивная ширина */
    max-width: 420px; /* Ограничиваем максимальную ширину */
    height: 4px;
    background-color: transparent;
    outline: 1px solid var(--color-primary);
    outline-offset: 5px;
    overflow: hidden;
    position: relative;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: width 2s linear;
}
/* Адаптивность */

@media (max-width: 1500px) {

    .privacy-policy{
        bottom: 55px;
        font-size: 13px;
    }

    .fixed-text-block .first-text {
        font-size: 15px;
    }
}

@media (max-width: 1400px) {

    .privacy-policy{
        bottom: 55px;
        font-size: 13px;
        padding: 0 150px;
    }

    .fixed-text-block .first-text {
        font-size: 15px;
    }

}

@media (max-width: 1200px) {

    :root {
        --font-size-large: 68px;
        --font-size-title: 104px;
    }

    .centered-text .welcome {
        line-height: 70px;
    }

    .cta-button-container {
        margin-top: 45px; 
    }

    .privacy-policy{
        padding: 0 100px;
    }

}

@media (max-width: 900px) {

    .privacy-policy {
        font-size: 10px;
        bottom: 100px;
    }    

    .fixed-text-block {
        flex-direction: column; /* Размещаем элементы вертикально */
        gap: 6px;
        text-align: left;
        color: #7E7E7E;   
        letter-spacing: -0.1px;
    }
    
    .fixed-text-block .first-text {
        color: var(--color-secondary);
        margin: 0px;
        font-size: 12px;
        font-weight: bold;
    }

}

@media (max-width: 840px) {

    :root {
        --font-size-large: 64px;
        --font-size-title: 96px;
    }

    .cta-button-container {
        margin-top: 35px; 
    }

}


@media (max-width: 760px) {
    :root {
        --font-size-large: 48px;
        --font-size-title: 80px;
    }

    .centered-text .welcome {
        line-height: 50px;
    }

    .privacy-policy {
        padding: 0 50px;
    }

    .privacy-policy {
        bottom: 115px;
        font-size: 10px;
    }
    
    .fixed-text-block {
        flex-direction: column; /* Размещаем элементы вертикально */
        gap: 6px;
        text-align: left;
        color: #7E7E7E;   
        letter-spacing: -0.1px;
    }
    
    .fixed-text-block .first-text {
        color: var(--color-secondary);
        margin: 0px;
        font-size: 12px;
        font-weight: bold;
    }
    
    .privacy-block {
        display: flex; 
        align-items: right; 
        text-align: right;
        flex-direction: column; 
        gap: 15px; 
    }

    .modal-content {
        padding: 20px;
        height: auto;
    }

    .progress-bar {
        max-width: 100%;
    }
    
    .centered-text .title {
        color: #070306;
        text-shadow: 0px 0px 16px rgba(255, 206, 0, 1);
        -webkit-text-stroke: 2px #FFCE00;
        line-height: 128%;
    }

    .cta-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; 
        top: 100%;
        margin-top: 25px; 
        width: 80%;
    }

    .get-the-quest {
        width: 260px;
        height: 50px;
        background: url(/static/img/button-default.svg) center no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
    }

    .get-the-quest:hover {
        background: url(/static/img/button-hover.svg) center no-repeat;
        background-size: contain;
        width: 260px; /* Убедитесь, что размеры совпадают */
        height: 50px; /* Убедитесь, что размеры совпадают */
    }
}

/* Адаптивность */
@media (max-width: 600px) {
    
    :root {
        --font-size-large: 35px;
        --font-size-title: 50px;
    }

    .centered-text .welcome {
        font-weight: 600;
        font-style: italic;
        color: #ffffff;
        -webkit-text-stroke: 0px #ffffff;
        line-height: 46px;
        letter-spacing: -3px;
        transition: all 0.2s;
    }
    
    .centered-text .title {
        color: #070306;
        text-shadow: 0px 0px 16px rgba(255, 206, 0, 1);
        -webkit-text-stroke: 0px;
        color: #FFCE00;
        line-height: 128%;
    }

    .title::before {
        content: '«';
        margin-right: 5px; 
    }
    
    .title::after {
        content: '»';
        margin-left: 5px;
    }

    .get-the-quest {
        width: 220px;
        height: 38px;
        background: url(/static/img/button-default.svg) center no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
    }

    .get-the-quest:hover {
        background: url(/static/img/button-hover.svg) center no-repeat;
        background-size: contain;
        width: 220px; /* Убедитесь, что размеры совпадают */
        height: 38px; /* Убедитесь, что размеры совпадают */
    }
    
    .privacy-policy {
        padding: 0 30px;
    }

}

@media (max-width: 500px) {

    #overlaytwo #content-block {
        padding: 25px;
        width: 600px; /* Базовая ширина для больших экранов */
        height: auto; /* Высота адаптируется к содержимому */
        max-width: 90%; /* Чтобы блок не выходил за пределы экрана */
        max-height: 90%; /* Чтобы блок не занимал больше 90% экрана по высоте */
    }
    
    #overlaytwo #main-text p {
        font-size: 22px;
        font-weight: bold;
        -webkit-text-stroke: 0;
        color: #FFCE00;
    }
    
    #overlaytwo #description p {
        font-size: 10px;
        color: #747474;
        margin: 0;
        text-align: center;
    }
    
    #overlaytwo #description b {
        font-size: 10px;
        color: #ffffff;
        line-height: 16px;
    }
    
    #overlaytwo #description a {
        font-size: 10px;
        color: #747474;
    }

    #loading {
        margin-top: 10px;
    }
    
    .progress-bar {
        height: 2px;
        outline: 0px solid var(--color-primary);
        outline-offset: 0px;
    }

    #overlaytwo #close-block-two {
        position: absolute;
        width: 15px; 
        height: 15px;
        object-fit: contain; 
    }
    


}
