#overlaytwo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

#overlaytwo #content-block {
    padding-top: 50px;
    position: fixed;
    width: 700px;
    height: 650px;
    max-width: 90%; /* чтобы блок не выходил за пределы экрана на маленьких устройствах */
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    border: 1px solid #2F2F2F; /* Рамка толщиной 1px с нужным цветом */
    box-sizing: border-box; /* Учет рамки в размерах блока */
    border-radius: 10px;
}

#overlaytwo #close-block-two {
    position: absolute;
    top: 20px; 
    right: 20px; 
    width: 30px; 
    height: 30px;
    background-color: transparent; 
    border: none;
    padding: 0;
    cursor: pointer;
}

#overlaytwo #block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overlaytwo #main-text {
    margin: 20px 0 0 0;
    padding: 0;
}
#overlaytwo #main-text p{
    font-size: 48px;
    font-weight: bold;
    -webkit-text-stroke: 2px #FFCE00;
    color: transparent ;
}

#overlaytwo #description p{
    font-size: 18px;
    color: #747474;
    margin:0;
}

#overlaytwo #description b{
    font-size: 18px;
    color: #ffffff;
    line-height: 35px;
}

#overlaytwo #description a{
    font-size: 18px;
    color: #747474;
}
#overlaytwo #description a:hover{
    color: #FFCE00;
}

#overlaytwo #description strong{
    color: #FFCE00;
}

#overlaytwo #chill-man {
    margin-bottom: 35px;
    margin-top:50px;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.progress-bar {
    width: 420px; /* Ширина прогресс-бара */
    height: 3px; /* Высота прогресс-бара */
    background-color: transparent; /* Цвет фона */
    border: 1px solid #FFCE00; /* Рамка */
    overflow: hidden; /* Скрываем содержимое за границей */
    position: relative;
    padding:4px 7px 4px 7px;
}

.progress {
    width: 1%; /* Начальная ширина заполнения */
    height: 100%;
    background-color: #FFCE00; /* Цвет заполнения */
    transition: width 0.3s ease; /* Анимация плавного заполнения */
}