/* Глобальные стили для страницы */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #1a1a1a;
}

/* Контейнер страницы */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 250px; /* Отступы для глобальной сетки */
    box-sizing: border-box;
    height: 100%; /* Высота контейнера равна высоте страницы */
}

/* Обёртка стрелок и контента */
.arrow-wrapper {
    display: flex;
    align-items: center;
    gap: 20px; /* Отступ между стрелками и контентом */
    width: 100%; /* Растягиваем по всей ширине */
}

/* Стрелки */
.arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow img {
    width: 40px;
    height: 40px;
}

/* Основной блок с контентом */
.content {
    flex-grow: 1; /* Контент занимает оставшееся пространство */
    text-align: center; /* Центрируем текст внутри */
    color: #fff; /* Белый текст */
}
