:root {
    --primary-color: #FFCE00;
    --primary-bg: rgba(255, 206, 0, 0.15);
    --secondary-color: #1FEB85;
    --secondary-bg: rgba(31, 235, 133, 0.15);
    --background-color: #000000;
    --text-color: #C5C5C5;
    --hashtag-bg: #1A1A1A;
    --hashtag-hover-bg: #333333;
    --font-family: 'Chakra Petch', sans-serif;

    --content-max-width: max-content;
    --gap-size: 10px;
    --hashtag-padding: 8px 16px;
    --arrow-size: 50px;

    --h1-width: fit-content; /* Начальное значение */
    --p-width: 75%;
}

::selection {
    background: transparent; 
    color: #FF4E47; 
}

body, html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-family);
}

main{
    padding: 0 250px;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    position: relative;
}

.block {
    display: none;
}

.block.active {
    display: flex;
}

.profile-content {
    display: flex;
    align-items: center;
    gap: 60px;
    max-height: auto;
}

img{
    max-height: fit-content;
    max-width: fit-content; 
}

.phone-img {
    position: relative;
    width: 100%; 
    max-height: fit-content;
    max-width: fit-content; 
    overflow: hidden;
    
}

.phone-img img {
    width: auto; 
    height: auto; 
    clip: auto;
    object-position: center; 
    clip-path: inset(0 0 5px 0);
}


/* Основной контент */
.main-content {
    text-align: left;
    width: fit-content; /* Автоматическая ширина по самому длинному элементу */
    max-width: 100%; /* Ограничиваем ширину для предотвращения выхода за пределы экрана */
    margin: 0 auto; /* Центрируем блок */
}

.main-content h2 {
    width: fit-content;
    padding: 5px 30px;
    border: 1px solid #FFCE00;
    background-color: var(--primary-bg);
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main-content h1 {
    font-size: 44px;
    line-height: 1.3;
    font-style: italic;
    margin-bottom: 15px;
    max-width: var(--h1-width); /* Контролируем ширину h1 */
}

.main-content .yellow{
    color: #FFCE00;
}

.main-content p {
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 25px;
    max-width: var(--p-width); /* Ширина p на основе h1 */
}

.main-content .hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size);
    width: 316px;
    height: 97px;
}

.main-content .hashtags p {
    border: 1px solid var(--hashtag-bg);
    background-color: var(--hashtag-bg);
    width: auto;
    color: #fff;
    padding: var(--hashtag-padding);
    margin: 0;
    border-radius: 5px;
    font-size: 19px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-content .hashtags p:hover {
    background-color: var(--hashtag-hover-bg);
}

/* Зеленый вариант */
.main-content .green {
    border-color: #1FEB85;
    background-color:#1feb852c;
    color: #1FEB85;
}

.main-content h1.green {
    color: #1FEB85;
    background-color: transparent;
}

/* Стрелки */
.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.left-arrow {
    left: 250px;
    padding: 0;
    margin: 0;
}

.right-arrow {
    right: 250px;
    padding: 0;
    margin: 0;
}

.arrow img {
    width: var(--arrow-size);
    height: var(--arrow-size);
    transition: filter 0.3s ease; /* плавный переход для изображения */
}

.arrow:hover img {
    filter: brightness(10); /* Увеличиваем яркость изображения */
}

/* Отступы и расположение стрелок для ширины экрана 1720px */
@media (max-width: 1720px) {

    .phone-img img {
        transform: scale(0.9); /* Уменьшение на 25% для этой ширины экрана */
        object-fit: cover;
    }

    .page-container {
        height: calc(100vh - 300px);
    }

    .main-content {
        max-width: 30%; /* Уменьшаем ширину для мобильных устройств */
    }

    .arrow-container {
        display: flex;
        justify-content: center;
        gap: 50px; /* Расстояние между стрелками */
        margin-top: 10px; /* Отступ сверху от контента */
    }

    .arrow {
        position: static;
        margin: 0; /* Убираем лишние отступы у стрелок */
    }


}

@media (max-width: 1269px) {

    .phone-img img {
        transform: scale(0.75); /* Уменьшение на 25% для этой ширины экрана */
        object-fit: cover;
    }

    .page-container {
        height: calc(100vh - 300px);
    }

    .arrow-container {
        display: flex;
        justify-content: center;
        gap: 50px; /* Расстояние между стрелками */
        margin-top: 0px; /* Отступ сверху от контента */
    }

    .arrow {
        position: static;
        margin: 0; /* Убираем лишние отступы у стрелок */
    }


}

@media (max-width: 1190px) {


}


/* Адаптивная версия для мобильных устройств */
@media (max-width: 768px) {


    .arrow-container {
        display: flex;
        justify-content: center;
        gap: 50px; /* Расстояние между стрелками */
        margin-top: 0px; /* Отступ сверху от контента */
    }

    .arrow {
        position: static;
        margin: 0; /* Убираем лишние отступы у стрелок */
    }

}

@media (max-width: 520px) {

    .arrow-container {
        display: flex;
        justify-content: center;
        gap: 50px; /* Расстояние между стрелками */
        margin-top: 0px; /* Отступ сверху от контента */
    }

    .arrow {
        position: static;
        margin: 0; /* Убираем лишние отступы у стрелок */
    }

}

