:root {
  --color-background: #000000;
  --color-primary: #ffffff;
  --color-secondary: #7d7d7d;
  --color-accent: #ffce00;
  --font-family: 'Chakra Petch', sans-serif;

  --font-size-title: clamp(2.5rem, 5vw, 6rem);
  --font-size-text: 1.5rem;
  --font-size-date: 1.25rem;

  --spacing-small: 10px;
  --spacing-medium: 25px;
  --spacing-large: 50px;
  --spacing-xlarge: 200px;
}

body, html {
  background: url(/static/img/smooth-purple.jpg) no-repeat center center/cover;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news__back-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-accent);
  font-size: var(--font-size-text);
  margin-bottom: var(--spacing-medium);
}

.news__back-icon {
  margin-right: var(--spacing-small);
  stroke: currentColor;
  stroke-width: 2;
  width: 1.5rem;
  height: 1.5rem;
}

.centered-block {
  padding: 32px 65px;
  border-radius: 40px;
  /*background: url(/static/img/socials-bg.png) no-repeat center;*/
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 250px;
}

.social-links {
  display: flex;
  gap: 35px; /* Расстояние между иконками */
  justify-content: center;
  flex-wrap: wrap; /* Для адаптивного расположения иконок */
}

.social-links a img {
  width: 100%; /* Размер иконок */
  height: 100%;
  transition: transform 0.2s ease;
  object-fit: contain; 
}

.social-links a img:hover {
  transform: scale(1.1); /* Эффект увеличения при наведении */
}

@media (max-width: 1400px) {
  .centered-block {
    margin: 0 150px;
  }
}

@media (max-width: 1200px) {
  .centered-block {
    margin: 0 100px;
  }
  
  .social-links a img{
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 900px) {
  .centered-block {
    margin: 0 100px;
  }
}

@media (max-width: 768px) {
  .centered-block {
    padding: 20px;
    border-radius: 20px;
    margin: 0 75px;
  }

  .social-links a img {
    width: 75px; /* Уменьшаем размер иконок на маленьких экранах */
    height: 75px;
  }

  .social-links {
    gap: 10px; /* Уменьшаем расстояние между иконками */
  }

}

@media (max-width: 480px) {

  .centered-block {
    margin: 0 30px;
  }

  .social-links a img {
    width: 40px; /* Еще меньше размер для мобильных */
    height: 40px;
  }
}
