:root {
  --color-background: #000000;
  --color-primary: #ffffff;
  --color-secondary: #7d7d7d;
  --color-accent: #ffce00;
  --font-family: 'Chakra Petch', sans-serif;
}

body, html {
  background-image: url(/static/img/smooth-purple.png) no-repeat center center/cover;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100vh;
}

::selection {
  background: transparent; 
  color: #FF4E47; 
}

.centered-block {
  padding: 32px 78px;
  border-radius: 40px;
  background-image: url(/static/img/socials-bg.png) no-repeat center center/cover;
  opacity: 0.5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}