:root {
  --color-background: #000000;
  --color-primary: #ffffff;
  --color-secondary: #7d7d7d;
  --color-accent: #ffce00;
  --font-family: 'Chakra Petch', sans-serif;
}

body, html {
  background: url(/static/img/smooth-purple.jpg) no-repeat center center/cover;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-block {
  padding: 32px 78px;
  border-radius: 40px;
  /*background: url(/static/img/socials-bg.png) no-repeat center;*/
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 250px;
}

.social-links {
  display: flex;
  gap: 40px; /* Расстояние между иконками */
  justify-content: center;
  flex-wrap: wrap; /* Для адаптивного расположения иконок */
}

.social-links a img {
  width: 100%; /* Размер иконок */
  height: 100%;
  transition: transform 0.2s ease;
  object-fit: contain; 
}

.social-links a img:hover {
  transform: scale(1.1); /* Эффект увеличения при наведении */
}

@media (max-width: 1400px) {
  .centered-block {
    margin: 0 150px;
  }
}

@media (max-width: 1200px) {
  .centered-block {
    margin: 0 150px;
  }
}

@media (max-width: 768px) {
  .centered-block {
    padding: 20px;
    border-radius: 20px;
    margin: 0 20px;
  }

  .social-links a img {
    width: 50px; /* Уменьшаем размер иконок на маленьких экранах */
    height: 50px;
  }

  .social-links {
    gap: 20px; /* Уменьшаем расстояние между иконками */
  }

}

@media (max-width: 480px) {
  .social-links a img {
    width: 40px; /* Еще меньше размер для мобильных */
    height: 40px;
  }
}
