{% load static %} 

{% block title %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loading.css' %}" type="text/css">
{% endblock %}

{% block body %}
  <main class="loading-container">
    <div class="logo">
      <img src="{% static 'img/TheQuestLogoLabel.png' %}" alt="The Quest Logo">
    </div>
    <div class="loader">
      <div class="circle" id="circle1"></div>
      <div class="circle" id="circle2"></div>
      <div class="circle" id="circle3"></div>
    </div>
  </main>

  <script src="{% static 'js/loading.js' %}"></script>
  <script>
    // Редирект на главную страницу
    setTimeout(function() {
      window.location.href = "/map";
    }, 2000); // Ожидание 2 секунды
  </script>
  
{% endblock %}
