{% extends 'template.html' %}

{% load static %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
{% endblock %}

{% block body %}
  <main>
    <section class="centered-content">
      <div class="centered-text">
        <span class="welcome">Welcome to</span>
        <h1 class="title">The Quest</h1>
      </div>
      <div class="cta-button-container">
        <button class="get-the-quest get" aria-label="Get The Quest"></button>
      </div>
    </section>

    <div id="overlaytwo" class="modal hidden" style="display: none;">
      <div id="content-block" class="modal-content">
        <button type="button" id="close-block-two" class="modal-close" aria-label="Close">
          <img src="/static/img/icon-close.png" alt="Close">
        </button>
        <div id="main-text">
          <p>COMING SOON . . .</p>
        </div>
        <div id="chill-man">
          <img src="/static/img/chill-man.png" alt="Chill Man">
        </div>
        <div id="description">
          <p>
            <b>The game <strong>"The Quest"</strong> is still in development.</b><br>
            Subscribe to our <a href="#" id="social-networks-link">social networks</a>
            to follow the news.<br>
          </p>
        </div>
        <div id="loading">
          <div class="progress-bar">
            <div class="progress" id="progress"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="privacy-policy">
    <div class="fixed-text-block">
      <p class="first-text">The Quest - it's just a game.</p>
      <p class="second-text">
        For investment inquiries, <br> <input type="email" placeholder="user@gmail.com" id="email" name="email">please reach out</input> to us.
      </p>
    </div>
    <div class="privacy-block">
      <a href="/ssse">Job openings</a>
      <a href="/privacy_policy/">Privacy & Policy</a>
    </div>
  </footer>
{% endblock %}


