{% extends 'template.html' %}
{% load static %}

{% block title %}{{ news_item.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/news_detail.css' %}" type="text/css">
{% endblock %}

{% block body %}
<main class="news">
  <div class="news__detail">
    <!-- Ссылка назад -->
    <a href="{% url 'news_list' %}" class="news__back-link">
      <svg xmlns="http://www.w3.org/2000/svg" class="news__back-icon" viewBox="0 0 24 24">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
      BACK TO NEWS
    </a>

    <!-- Заголовок новости -->
    <h1 class="news__title">{{ news_item.title|safe }}</h1>

    <!-- Дата публикации -->
    <p class="news__date">{{ news_item.published_date }}</p>

    <!-- Основной текст новости -->
    <div class="news__content">
      {{ news_item.description|linebreaks |striptags}}
    </div>
  </div>
</main>
{% endblock %}
