{% extends 'template.html' %}

{% load static %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock %}

{% block body %}
<main class="scroll-container">


  <div class="scroll-arrow">
    <img src="{% static 'img/arrow-down.png' %}" alt="Scroll down arrow">
  </div>

  
  <!-- Блок QUESTS -->
  <div class="block quests">
    <div class="content-container">
      <div class="image-container">
        <img src="{% static 'img/BlockPhonewithmap.png' %}" alt="Phone displaying map">
      </div>
      <div class="text-container">
        <h2 class="yellow">QUESTS</h2>
        <h1 class="yellow">Quests around the world!</h1>
        <p>Create your character and start an epic journey: explore locations worldwide, complete unique quests, and uncover hidden mysteries.</p>
        <div class="hashtags">
          <p>Physical activity</p>
          <p>Worldwide</p>
          <p>Social interactions</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Блок FRIENDS -->
  <div class="block friends">
    <div class="content-container">
      <div class="text-container">
        <h2 class="green">FRIENDS</h2>
        <h1 class="green">Meet with friends and play together!</h1>
        <p>Discover the secrets and hidden places you never knew existed. Join others in exciting quests for unforgettable experiences...</p>
        <div class="hashtags">
          <p>Adventure</p>
          <p>Teamwork</p>
          <p>Discovery</p>
        </div>
      </div>
      <div class="image-container">
        <img src="{% static 'img/blockplaywithfriends.png' %}" alt="People playing together">
      </div>
    </div>
  </div>
</main>

<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
