{% extends 'template.html' %}

{% load static %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body %}
<main>

  <div class="main-container">
  <!-- Блок QUESTS -->
  <div class="page-container block active quests">
    <div class="profile-content">
      <div class="phone-img">
        <img src="{% static 'img/BlockPhonewithmap.png' %}" alt="Phone displaying map">
      </div>
      <div class="main-content">
        <h2 class="yellow">QUESTS</h2>
        <h1 class="yellow">Quests around the world!</h1>
        <p>Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type ...</p>
        <div class="hashtags">
          <p>Physical activity</p>
          <p>Worldwide</p>
          <p>Social interactions</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Блок FRIENDS -->
  <div class="page-container block friends">
    <div class="profile-content">
      <div class="phone-img">
        <img src="{% static 'img/blockplaywithfriends.png' %}" alt="People playing together">
      </div>
      <div class="main-content">
        <h2 class="green">FRIENDS</h2>
        <h1 class="green">Meet with friends and play together!</h1>
        <p>Discover the secrets and hidden places you never knew existed. Join others in exciting quests for unforgettable experiences...</p>
        <div class="hashtags">
          <p>Adventure</p>
          <p>Teamwork</p>
          <p>Discovery</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Правая стрелка -->
  <div class="arrow-container">
    <button class="arrow left-arrow">
      <img src="{% static 'img/button-left.png' %}" alt="Left Arrow">
    </button>
    <button class="arrow right-arrow">
      <img src="{% static 'img/button-right.png' %}" alt="Right Arrow">
    </button>
  </div>

</main>

<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
