{% extends 'template.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/socials.css' %}" type="text/css">
{% endblock %}

{% block body %}
<main>
  <a href="{% url 'news_list' %}" class="news__back-link">
    <svg xmlns="http://www.w3.org/2000/svg" class="news__back-icon" viewBox="0 0 24 24">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    BACK TO NEWS
  </a>
  <div class="centered-block">
    <div class="social-links">
      <a href="https://www.tiktok.com/@thequestgame?_t=8sJewdSN5QP&_r=1" target="_blank"><img src="{% static 'img/ic-tt.png' %}" alt="The Quest TikTok"></a>
      <a href="https://t.me/thequestapp" target="_blank"><img src="{% static 'img/ic-tg.png' %}" alt="The Quest Telegram"></a>
      <a href="https://discord.gg/Hx3xZu622x" target="_blank"><img src="{% static 'img/ic-ds.png' %}" alt="The Quest Discord"></a>
      <a href="https://x.com/AppTheQuest" target="_blank"><img src="{% static 'img/ic-x.png' %}" alt="The Quest X (Twitter)"></a>
      <a href="https://www.instagram.com/thequest_app/" target="_blank"><img src="{% static 'img/ic-ig.png' %}" alt="The Quest Instagram"></a>
      <a href="https://www.facebook.com/profile.php?id=61571049321450" target="_blank"><img src="{% static 'img/ic-fb.png' %}" alt="The Quest Facebook"></a>
      <a href="https://www.youtube.com/@TheQuestApp" target="_blank"><img src="{% static 'img/ic-yt.png' %}" alt="The Quest YouTube"></a>
    </div>
  </div>
</main>
{% endblock %}
